:root {
  --container: rgb(230, 29, 29);
}
body {
  margin-top: 0px;
}
.container {
  background-color: var(--container);
  height: 100%;
}
.left {
  background-color: red;
  float: left;
  width: 15%;
  height: 100%;
}
.right {
  background-color: red;
  float: right;
  width: 15%;
  height: 100%;
}
.center {
  float: left;
  width: 66%;
  text-align: justify;
  height: 100%;
  margin-right: 2%;
  margin-left: 2%;
}
