.left {
  float: left;
  width: 15%;
  background-color: gray;
  padding: 1%;
}
.center {
  float: left;
  width: 62%;
  text-align: justify;
  padding: 1% 2%;
  background-color: #b69f9f;
}
.right {
  float: right;
  width: 15%;
  background-color: gray;
  padding: 1%;
}
